*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat'
}

img{
    vertical-align: top;
}

body{
    overflow-x: hidden;
}

/* =========================================== */
/* HEADER */

header{
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    background: url('../img/buisness.jpg');
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
    background-repeat: no-repeat;

    position: relative;
}

header .menu-navigation{
    position: fixed;
    width: 90%;
    max-width: 1200px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 0px 40px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 30px 0px rgba(204, 204, 204, 0.75);
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

header .menu-navigation .brand h1{
    font-size: 3em;
    color: #f30013;
    font-weight: 700;
}

header .menu-navigation .menu a{
    display: inline-block;
    margin: 0px 20px;
    color: #585858;
    border-bottom: 4px solid #fff;

    padding: 28px 10px;
    font-weight: normal;
    font-size: .8em;
    text-decoration: none;
    transition: all .3s ease;
}

header .menu-navigation .menu a:hover{
    border-bottom-color: #f30013;
}

header .wrapper{
    position: relative;
    background: rgba(243, 0, 19, .6);

    padding-top: 200px;
    width: 100%;
    height: 100vh;
}

header .wrapper .main-content{
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

header .wrapper .main-content .content-left{
    width: 50%;
    text-align: left;
}

header .wrapper .main-content .content-left .title{
    font-size: 4.2em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}

header .wrapper .main-content .content-left .description{
    color: #f2f2f2;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 50px;
}

header .wrapper .main-content .content-left .btn-contact{
    border: none;
    background: #fff;
    padding: 15px 10px;
    font-weight: 400;
    font-size: 1.8em;
    cursor: pointer;
    color: #f30013;
    outline: none;
    transition: all .3s ease;
}

header .wrapper .main-content .content-left .btn-contact:hover{
    transform: scale(1.1)
}

header .wrapper .main-content .content-right{
    width: 30%;
    background: #ccc;
    padding: 60px;
    background: #f30013;
    transform: rotate(10deg);
    border-radius: 20px;
}

header .wrapper .main-content .content-right img{
    width: 100%;
    transform: rotate(-15deg) scale(1.5);
    border-radius: 5px;
}

/* =========================================== */

/* =========================================== */
/* MAIN */

main{
    width: 100%;
    margin-top: 200px;
}

/* === ABOUT US */
main .about-us{
    width: 80%;
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main .about-us .wrapper{

    width: 40%;
    background: url('../img/funny.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

main .about-us .wrapper .content{
    width: 50%;
    background: #f30013;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 30px;
    border-radius: 6px;
}

main .about-us .wrapper .content .title{
    font-size: 1.2em;
    font-weight: 300;
}

main .about-us .wrapper .content .subtitle{
    font-size: 1.8em;
    font-weight: 700;
}

main .about-us .description{
    width: 35%;
    padding: 40px;
}

main .about-us .description .title{
    font-size: 1.6em;
    color: #2e2e2e;
    margin-bottom: 20px;;
}

main .about-us .description .text{
    font-size: 1em;
    color: #585858;
    line-height: 28px;
}

main hr{
    width: 80%;
    margin: 150px auto;
    border: 2px dashed #585858;
}


/* === SERVICES */

main .services{
    width: 100%;
    margin-bottom: 200px;
}

main .services .cont-title{
    width: 100%;
    text-align: center;
}

main .services .cont-title .title{
    color: #fff;
    padding: 15px;
    background: #f30013;
    border-radius: 6px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 300;
}

main .services .cont-title .subtitle{
    color: #f30013;
    font-size: 1.8em;
    font-weight: 700;
    margin: 20px;
}

main .services .cont-title .description{
    font-size: 1em;
    color: #585858;
    line-height: 28px;
}

main .services .gallery {
    width: 100%;
    background: url('../img/work.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: 100px;
}

main .services .gallery .wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgba(243, 0, 19, .6)
}

main .services .gallery .wrapper .service{
    width: 25%;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    cursor: pointer;
    transition: all .3s ease;
}

main .services .gallery .wrapper .service:hover{
    color: #f30013;
    background: #fff;
    transform: scale(1.2)
}

main .services .gallery .wrapper .service a i{
    font-size: 4em;
    margin-bottom: 20px;
}


/* === CHARACTERISTICS */

main .characteristics {
    width: 80%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main .characteristics .content {
    width: 40%;
}   

main .characteristics .content .title{
    font-size: 2em;
    color: #f30013;
    text-align: right;
    margin-bottom: 20px;
}

main .characteristics .content .description{
    font-size: 1.2em;
    color:#585858;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 20px;
}

main .characteristics .content .description span{
    padding: 4px;
    color: #fff;
    font-weight: 700;
    background: #f30013;
}

main .characteristics .content .list{
    padding: 15px;
}

main .characteristics .content .list p{
    margin: 15px 0;
    font-weight: 700;
    color:#585858;
}

main .characteristics .content .list p a i{
    font-size: 1.1em;
    margin-right: 10px;
    color:#f30013
}

main .characteristics .images{
    width: 50%;
    text-align: center;
}

main .characteristics .images img{
    width: 50%;
    margin: 15px;
    border: 6px solid #f30013;
    border-radius: 3px;
}

/* =========================================== */

/* =========================================== */
/* FOOTER */

footer{
    width: 70%;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    padding: 30px;
}

footer .brand h2{
    font-size: 3em;
    color: #f30013;
    font-weight: 700;
}

footer .contact{
    margin-top: 15px;
    color: #585858;
}

footer .contact span{
    margin: 0px 10px;  
    color: #2e2e2e; 
}

footer hr{
    width: 100%;
    margin: 30px auto;
    border: 1px solid #f2f2f2;
}

footer .author a{
    text-decoration: none;
    color: #585858;
    margin: 0px 40px;
}

footer .author p .social i{
    margin: 0px 10px;
    font-size: 1.2em;
}

/* =========================================== */



